/*General*/
#slidingpuzzle{
	font-family: "-apple-system", "Roboto", "Helvetica Neue", "Segoe UI", sans-serif;
	text-align: center;
	width:500px;
	height: 600px;
	border: solid 1px;
	position: relative;
}

#slidingpuzzle .slBtn{
	border-color: #11c1f3;
	background: transparent;
	color: #11c1f3;

	width: 45%;

	display: inline-block;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	vertical-align: top;
	line-height: 42px;
	cursor: pointer;
}
#slidingpuzzle .slBtn:hover{
	background-color: #edfaff; 
}
#slidingpuzzle .slBtn:active{
	background-color: #11c1f3;
	color: #fff;
}
#slidingpuzzle .slBtnBig{
	width: 90%;
	height: 88px;
	margin-top: 41px;
	font-size: 34px;
	font-weight: 200;
	font-family: "Verdana";
} 
/*Game*/
.gameDiv{		
	background-image: url('../img/dummy3.png');
	box-sizing: border-box;
	border:1px solid black;
	position: absolute;

   -webkit-transition-property: top, left;
   -webkit-transition-duration: 0.5s;
   -webkit-transition-timing-function:ease;

   -moz-transition-property: top, left;
   -moz-transition-duration: 0.5s;
   -moz-transition-timing-function:ease;

   -o-transition-property: top, left;
   -o-transition-duration: 0.5s;
   -o-transition-timing-function:ease;

   transition-property: top, left;
   transition-duration: .03s;
   transition-timing-function:ease;
}
#game{
	background: black;
	position: relative;
	width: 91%;
	margin: auto;	
}
#gamePuzzleReference{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-image: url('../img/dummy3.png');
	background-size: 100%;
	visibility: hidden;
}
#gameDivMissing{
	visibility: hidden;
}
/*Pointcounter*/
#counterWrapper{
	width: 91%;
	margin: auto;
	margin-bottom: 7px;
}
#counterBar{
	width: 0;
	height: 2px;
	-webkit-transition: width 1s linear;
	-moz-transition: width 1s linear;
	-o-transition: width 1s linear;
	transition: width 1s linear;
}
#pointContainer{
	color: #10c0f4;
	font-weight:500;
	line-height: 1.2;
	margin:16px 0;
	font-size: 24px;
}
/*Main*/
#slFooter{
	position: absolute;
	width: 100%;
	bottom: 23px;
	visibility: hidden;
}
/*Options*/
#slidForm{
	padding-top: 13px;	
}
#slidForm input[type='number'] {
    appearance:textfield;
    -moz-appearance:textfield;
}
#slidForm input::-webkit-outer-spin-button,
#slidForm input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#slidForm input{
	height: 31px;
	margin-bottom: 28px;
	text-align: center;
}